---
type: table
used_by_count: 4
tags:
  - table
---

# UNIT_TEST_RESULTS

**Used by 4 screens**

## Screens Using This Table (Read/Write)

- [[dpquntst]]
- [[dpucatst]]
- [[dpuvoidr]]
- [[dpwdntst]]
