---
type: table
used_by_count: 24
tags:
  - table
  - validation-table
---

# VALID_TEST_RESULTS

**Used by 24 screens**

## Screens Using This Table (Read/Write)

- [[vtest]]
- [[vtestnew]]

## Screens Using This as LOV/Dropdown Source

- [[cpimuint]]
- [[fridonor]]
- [[iiftstcf]]
- [[ltimantg]]
- [[ltimedit]]
- [[ltirecon]]
- [[ltiresu1]]
- [[ltiresu2]]
- [[ptiexrsl]]
- [[ptiredit]]
- [[rgvreslt]]
- [[teibndr1]]
- [[teibndr2]]
- [[teibnedt]]
- [[teibnrcl]]
- [[vabo]]
- [[vantggrp]]
- [[vdilblcf]]
- [[vrarity]]
- [[vtbndmat]]
- [[vtestord]]
- [[vtstseri]]
